.main__offers {
    width: 1225px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.offers__item {
    margin: 30px 7.5px;
    margin-bottom: 10px;
    width: 260px;
    position: relative;
    z-index: 0;
}

.offers__item:hover .item__heart-full {
    opacity: 1;
}

.offers__item:hover .item__img-description {
    opacity: 1;
    top: 297px;
}

.item__paragraph {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 30px;
}

.item__price {
    font-size: 14px;
    font-weight: bold;
    color: grey;
    position: absolute;
    bottom: 0;
    left: 0;
}

.item__paragraph__brand {
    font-family: Verdana;
}

.item__img {
    width: 100%;
}

.item__heart-shape, .item__heart-full {
    position: absolute;
    padding: 5px;
    width: 27.5px;
    right: 10px;
    top: 291px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.item__heart-full {
    opacity: 0;
    transition: opacity 200ms;
}

.item__img-description {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    top: 309px;
    left: 0;
    background: #ffffffa1;
    z-index: 0;
    opacity: 0;
    transition: opacity 200ms, top 200ms;
}
#popup__item,#submit__post {
    display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 10px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  }
  #popup__item__content,#submit__post__content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid pink;
    width: 50%;
  }
  #user__details{
      font-size: 15px;
  }
  .close__button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close__button:hover{
    color: #000;
    cursor: pointer;

  }
  .scroll__to__top__button{
        display: none;
        position: fixed;
        bottom: 1%;
        right: 27%;
        z-index: 1;
        font-size: 35px;
        border:none;
        outline: none;
        background-color:transparent;
        color: #aaaaaa;
        cursor: pointer;
  }
  .scroll__to__top__button{
      color:black;
      cursor: pointer;
  }
  .new__post__button{
     float: right;
  }
  #login__container,#registration__container {
      display: none;
    position: fixed;
    width: 60%;
    height: 60%;
    top: 35%;
    left: 30%;
    margin-top: -140px;
    margin-left: -170px;
	background: white;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    z-index: 1;
    
}

.login__img{
    width: 30%;
    height: 100%;
    float: left;
}
#loginUsername{
    position: relative;
    width: 30%;
    left:10%;
    background:pink;
    top:30px;
    border-radius: 3px;

    padding-left: 0;


}
#login__username__text{
    position: relative;
    width: 30%;
    padding-left: 0;
    top: 20px;
    left:10%;


}
#loginPassword,#inputPassword{
    position: relative;
    width: 30%;
    padding-left: 0;
    left:10%;
    background:pink;
    border-radius: 3px;
    top: 50px;

}
#login__password__text,#registration__password__text{
    position: relative;
    width: 30%;
    left:10%;
    padding-left: 0;
    top: 40px;
}
#signInButton{
    position: relative;
    width: 30%;
    left:10%;
    top:90px;
    background:pink;
    border-radius: 3px;
    color:black;
}
#login__title{
    left:21%;
    position: relative;
    font-size: 30px;
    top:5px;
}
#registration__title{
    left:21%;
    position: relative;
    font-size: 30px;
    top:5px;
}
#registration__username__text{
    position: relative;
    width: 30%;
    padding-left: 0;
    top: 20px;
    left:10%;
}
#inputUsername{
    position: relative;
    width: 30%;
    left:10%;
    background:pink;
    top:30px;
    border-radius: 3px;
    padding-left: 0;
}
#repeated__password__text{
    position: relative;
    top:57px;
    left:8.5%;
}
#inputRepeatedPassword{
    position: relative;
    top:65px;
    left:10%;
    width:30%;
    padding-left: 0;
    border-radius: 3px;
    background: pink;
}
#signUpButton{
    position: relative;
    width: 30%;
    top:100px;
    right: 0%;
    background:pink;
    border-radius: 3px;
    color:black;
}
.login__background{
    height: 100%;
    z-index: -1;
    width:100%;
    background: pink;
}
#log__checkbox{
    position: relative;
    left:10%;
    top:70px;
}
#log__checkbox__text{
    position: relative;
    left:10.1%;
    top:68px;
}
#log__off__button{
    position: fixed;
    top:0%;
    right: 0%;
}

/* 
    Media query 
*/

@media screen and (max-width: 1245px) {
    .main__offers {
        width: 900px;
    }
}

@media screen and (max-width: 915px) {
    .main__offers {
        width: 600px;
    }
}

@media screen and (max-width: 615px) {
    .main__offers {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .main__offers {
        width: 100%;
    }
}